@import "../../Scss/index";

.postion {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
  .navlist {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    user-select: none;
    .navitem {
      position: relative;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      user-select: none;
      &:hover .dot {
        background-color: #b1b1b1;
      }
      &:hover .title {
        color: #b1b1b1;
      }
      .title {
        padding-left: 1rem;
        color: $LinkHover;
        font-family: $GudeaBold;
        transition: color ease-in-out 0.2s;
      }
    }
    .navitemactive {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: $LinkHover;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-inline: 1rem;
      border-radius: 25px;
      height: 100%;
      width: fit-content;
      cursor: default;
      .activedot {
        position: relative;
        content: "";
        width: 12px;
        height: 12px;
        background-color: $SecondaryBgColor;
        border-radius: 25px;
      }
      .title {
        padding-left: 1rem;
        color: $PrimaryHeaderColor;
        font-family: $GudeaBold;
      }
    }
    .dot {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $LinkHover;
      transition: background-color ease-in-out 0.2s;
    }
  }
}
