@import "../../Scss/index";

.containermobile {
  position: relative;
  margin-bottom: 6rem;
}

.container {
  position: relative;
  @include DisplayFlexCenter(row);
  height: 100vh;
}
.row {
  @include make-row();
}
