.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  .photolist {
    position: relative;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    .photoitem {
      display: flex;
      position: relative;
      .middlephoto {
        border-radius: 5px;
        z-index: 2;
        width: 55rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      .overlaymiddle {
        z-index: 2;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000cf;
        border-radius: 4px;
      }
      .rightphoto {
        border-radius: 5px;
        z-index: 1;
        width: 45rem;
        margin-left: -42rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      .overlayright {
        z-index: 2;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000cf;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .leftphoto {
        border-radius: 5px;
        z-index: 1;
        width: 45rem;
        margin-right: -42rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      .overlayleft {
        z-index: 2;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000cf;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
