@import "../../../Scss/index";

.body {
  margin: 1rem;

  .header {
    font-size: 1rem;
    color: $PrimaryHeaderColor;
    font-family: $HindBold;
    .techlink {
      font-size: 1rem;
      color: $SecondaryBgColor;
      font-family: $HindBold;
      list-style: none;
      text-decoration: none;
    }
  }
  .items {
    color: $PrimaryTextColor;
    font-family: $HindRegular;
    margin: 0rem;
  }
}
