@import "../../Scss/index";

.container {
  @include Container();
  @include DisplayFlexCenter(column);
  .header {
    @include DisplayFlexCenter(row);
    margin: 0rem;
    .bulletpoint {
      content: "";
      width: 30px;
      height: 5px;
      background: $PrimaryPurpleLinear;
      border-radius: 5px;
      margin-right: 1rem;
    }
    .title {
      font-family: $DustinRegular;
      color: $PrimaryHeaderColor;
      font-size: $PrimaryHeader-FontSize;
      letter-spacing: 1px;
      font-weight: lighter;
    }
  }
  .row {
    @include make-row();
    .col_3 {
      @include make-col(xs, 12);
      @include make-col(sm, 12);
      @include make-col(md, 12);
      @include make-col(xl, 3);
      @include make-col(xxl, 3);
      @include DisplayFlexCenter(row);
      .navlist {
        margin: 0rem;
        padding: 0rem;
        list-style: none;
        border-left: 1px solid #2b2b2b;
      }
    }
    .col_9 {
      @include make-col(xs, 12);
      @include make-col(sm, 12);
      @include make-col(md, 12);
      @include make-col(xl, 9);
      @include make-col(xxl, 9);
    }
  }
}
