@import "../../Scss/index";

.container {
  @include Container();
  @include DisplayFlexCenter(column);
  .form {
    @include DisplayFlexCenter(column);
    padding: 1rem;
    width: 40rem;
    height: 100%;
    .row {
      @include DisplayFlexCenter(row);
      width: 100%;
      .col {
        width: 100%;
        margin: 1rem;
      }
    }
  }
}
