//Flex Mixin
@mixin DisplayFlexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

//Max is down
@mixin media-breakpoint-max($breakpoints) {
  @media (max-width: $breakpoints) {
    @content;
  }
}

//min is up
@mixin media-breakpoint-min($breakpoints) {
  @media (min-width: $breakpoints) {
    @content;
  }
}
