//Flex Mixin
@mixin DisplayFlexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin media-breakpoint-down($breakpoints) {
  @media (max-width: $breakpoints) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoints) {
  @media (min-width: $breakpoints) {
    @content;
  }
}
